﻿*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

md-input-container{ 
    height: 25px;
}

.header-page {
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    z-index: 5;
    width: 100%;
    left: 0;
    padding-right: 10px;
    top: 0;
}

.menu-left{
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 5;
    min-width: 50px;
    left: 0;
    padding: 10px;
    top: 120px;
    border-radius: 0 20px 20px 0;
}

.content-right{
    text-align: end;
}

.content-left{
    text-align: left;
}

.content-center{
    text-align: center;
}

.md-menu::before{
    content: '';
}

.loading{
    background: rgba(0,0,0,0);
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
}

#message{
	padding: 10px;
	top: 150px;
	right: 30px;
	position: fixed;
	z-index: 99;
	border-radius: 10px;
	box-shadow: 5px 2px 10px black;
	max-width: 250px;
	display: none;
}

#message > label{
	font-size: 18px;
	font-family: 'Calibri';
}

.body-view{
    //padding-top: 30px;
    background-color: white;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 2px 5px black;
    border-radius: 8px;
}

.view{
}