﻿<md-dialog-content style="width:230px;height:240px" layout="column" layout-align="center center">		
		<md-input-container>
				<label>Name</label>
				<input required type="text" ng-model="ctrl.name" ng-change="ctrl.verifyFields()" ng-init="ctrl.loading = false" />
		</md-input-container>
		<md-input-container>
				<label>Password</label>
				<input required type="password" ng-model="ctrl.password" ng-change="ctrl.verifyFields()" />
		</md-input-container>
		<md-button class="md-raised md-cornered" type="button" ng-disabled="!ctrl.fieldsValid" ng-click="ctrl.access()">Access</md-button>
		<md-button type="button" ng-click="ctrl.openRegisterModal()">New Account</md-button>
</md-dialog-content>