﻿<md-dialog-content style="width:250px;height:400px" layout="column" layout-align="center center">
		<md-input-container>
				<label>Name</label>
				<input required type="text" ng-model="ctrl.name" ng-change="ctrl.verifyFields()" />
		</md-input-container>
		<md-input-container>
				<label>Email</label>
				<input required type="text" ng-model="ctrl.email" ng-change="ctrl.verifyFields()" />
		</md-input-container>
		<md-input-container>
				<label>Password</label>
				<input required type="password" ng-model="ctrl.password" ng-change="ctrl.verifyFields()" />
		</md-input-container>
		<md-input-container>
				<label>Confirm Password</label>
				<input required type="password" ng-model="ctrl.confirmPassword" ng-change="ctrl.verifyFields()" />
		</md-input-container>
		<md-button class="md-raised md-cornered" type="button" ng-disabled="!ctrl.fieldsValid" ng-click="ctrl.register()">Send</md-button>
		<md-button type="button" ng-click="ctrl.openAccessModal()">Back</md-button>
</md-dialog-content>