﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullmoon</title>
		<link rel="stylesheet" href="~/Content/angular-material/angular-material2.min.css" />
		<link rel="stylesheet" href="~/Content/style.css" />		
		<script type="text/javascript" src="~/scripts/angular.min.js"></script>
		<script type="text/javascript" src="~/scripts/angular-route.min.js"></script>
		<script type="text/javascript" src="~/scripts/angular-animate.min.js"></script>
		<script type="text/javascript" src="~/scripts/angular-aria.min.js"></script>
		<script type="text/javascript" src="~/scripts/angular-material2.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>		
</body>
</html>