﻿<md-toolbar layout="row" class="md-hue-3">
		<div class="md-toolbar-tools" layout-align="center center">
				<span>Users</span>
		</div>
</md-toolbar>
<md-content style="height:200px" flex>
		<md-list ng-init="ctrl.getUsers()" ng-cloak="" md-theme="customTheme">
				<md-list-item style="height:50px" ng-repeat="user in ctrl.users" class="noright">
								<img src="../App/icons/person.svg" class="md-avatar" />
								{{ user.Name }}
						<p>{{user.Email}}</p>

						<md-button class="md-icon-button md-primary md-hue-4" aria-label="Edit">
								<md-icon md-svg-icon="../App/icons/edit.svg" />
								<md-tooltip>
										Edit
								</md-tooltip>
						</md-button>

						<md-button class="md-icon-button md-warn md-hue-4" aria-label="Exclude">
								<md-icon md-svg-icon="../App/icons/delete.svg" />
								<md-tooltip>
										Exclude
								</md-tooltip>
						</md-button>

						<md-divider></md-divider>
				</md-list-item>
		</md-list>
</md-content>