﻿<div ng-app="fullmoon">
		<header class="header-page" ng-init="ctrl.getAccountInfo()" ng-controller="accountController as ctrl" layout="row" layout-align="center center">
				<div style="width:20%;padding-left:30px" layout-align="start center" class="content-left">
						<img src="~/App/images/moon.jpg" width="30" height="30" />
				</div>
				<div style="width:60%" layout-align="center center" layout="row">
						<div>
								<label>Fullmoon</label>
						</div>
				</div>
				<div style="width:20%" class="content-right">
						<md-menu md-offset="60">
								<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button md-primary" aria-label="Settings">
										<md-icon md-svg-icon="~/Content/material-design-iconic-font/svg/action/settings.svg" />
								</md-button>
								<md-menu-content>
										<md-menu-item>
												<div layout-align="row">
														<img src="~/App/icons/person.svg" width="25" height="25" />
														<label>{{ctrl.account.UserName}}</label>
												</div>
										</md-menu-item>
										<md-menu-divider></md-menu-divider>
										<md-menu-item>
												<md-button class="md-primary" ng-click="ctrl.changeLoading()">Edit Account</md-button>
										</md-menu-item>
										<md-menu-item>
												<md-button class="md-primary" ng-click="ctrl.exit()">Logout</md-button>
										</md-menu-item>
								</md-menu-content>
						</md-menu>
				</div>

				<div class="loading" ng-show="$rootScope.loading">
						<md-progress-circular md-mode="indeterminate" diameter="10px"></md-progress-circular>
				</div>

		</header>
		<div class="menu-left" layout="column" ng-controller="mainController as ctrl">
				<md-button class="md-primary" ng-click="ctrl.showUsers()">Users</md-button>
				<md-button class="md-primary" ng-click="ctrl.showRoles()">Roles</md-button>
		</div>
		<div class="body-view">
				<div ng-view="" class="view"></div>
		</div>
</div>

<!-- MODULES -->
<script type="text/javascript" src="~/App/modules/fullmoon.js"></script>
<!-- SERVICES -->
<script type="text/javascript" src="~/App/services/messageService.js"></script>
<script type="text/javascript" src="~/App/services/accountService.js"></script>
<script type="text/javascript" src="~/App/services/managerService.js"></script>
<!-- CONTROLLERS -->
<script type="text/javascript" src="~/App/controllers/accountController.js"></script>
<script type="text/javascript" src="~/App/controllers/mainController.js"></script>
<script type="text/javascript" src="~/App/controllers/managerController.js"></script>