﻿<div ng-app="fullmoon" ng-controller="accountController as ctrl" ng-init="ctrl.openAccessModal()" layout="column">
		<div class="loading" ng-show="ctrl.loading">
				<md-progress-circular md-mode="indeterminate" diameter="10px"></md-progress-circular>
		</div>
</div>
<script type="text/javascript" src="~/App/modules/fullmoon.js"></script>
<script type="text/javascript" src="~/App/services/messageService.js"></script>
<script type="text/javascript" src="~/App/services/accountService.js"></script>
<script type="text/javascript" src="~/App/controllers/accountController.js"></script>